
body {
  font-family: "helveticaneuemedium";
}

.navbar-page-list {
}

.featured-post-image {
  max-width: 100%;
  height: auto;
}

.post-image {
  max-width: 90%;
  height: auto;
}

.post-date {
  position: absolute;
  z-index: 10;
  left: 5%;
  top: 5%;
  border: 1px solid #787878;
  background-color: #FFFFFF;
  padding: 20px 8px;
  text-align: center;
}

.date-number {
  text-transform: uppercase;
  color: #000000;
  line-height: 1;
}

.date-month {
  display: block;
  /* font-family */
  color: #878787;
}

.line {
  background-color: #C8C8C8;
  width: 26px;
  height: 2px;
  margin-bottom: 20px;
}

.featured-post-tag {
  color: #A1A1A1;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
  display: block;
}

.featured-post-headline {
  display: inline-block;
  color: #000000;
  margin-bottom: 30px;
}

.post-tag {
  color: #A1A1A1;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 8px;
  display: block;
}

.post-headline {
  display: inline-block;
  color: #000000;
  margin-bottom: 24px;
}

.social-media-nav {
  border-bottom: 1px solid;
  border-color: #97A6B1;
}

.bg-nav {
  background-color: #E3F2FD;
}

.featured-read-more-btn
 {
  border-color: #97A6B1;
  color: #97A6B1;

}

.featured-read-more-btn:hover {
  background-color: #E3F2FD;
  border-color: #97A6B1;
  color: #97A6B1;

}

.read-more-btn {
  border-color: #97A6B1;
  color: #97A6B1;

}
.read-more-btn:hover {
  background-color: #E3F2FD;
  border-color: #97A6B1;
  color: #97A6B1;

}

.subscribe-btn {
  border-color: #97A6B1;
  color: #97A6B1;

}
.subscribe-btn:hover {
  background-color: #E3F2FD;
  border-color: #97A6B1;
  color: #97A6B1;

}

.featured-post-image-title-box{
  background-color: #000000;
  top: 35%;
  left: 25%;
  width: 50%;
  height: 30%;
  position: absolute;
  /* z-index: 10; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-post-image-title{
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.new-section {
  margin: 50px;
}

.post-meta {
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.post-meta a {
  color: #000000;
}

.post-meta p {
  color: #878787;
  display: inline-block;
  margin-right: 7%;
}

.advert {
  margin: auto;
  width: max-content;
  text-align: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags li {
  list-style: none;
}

.tags a {
  margin: 5px;
  display: block;
}



/*************************************/
/************ RESPONSIVE *************/
/*************************************/


/*****Extra small*****/
@media screen and (min-width: 0px) {
  .featured-post-headline {
    font-size: 18px;
  }
  .post-headline {
    font-size: 16px;
  }
  .featured-post-tag {
    font-size: 9px;
  }
  .featured-post-text {
    font-size: 16px;
  }
  .post-text {
    font-size: 14px;
  }
  .date-number {
    font-size: 20px;
  }
  .date-month {
    font-size: 9px;
  }
}
/*****Small*****/
@media screen and (min-width: 576px) {
  .featured-post-headline {
    font-size: 18px;
  }
  .post-headline {
    font-size: 16px;
  }
  .featured-post-tag {
    font-size: 9px;
  }
  .featured-post-text {
    font-size: 16px;
  }
  .post-text {
    font-size: 14px;
  }
  .date-number {
    font-size: 20px;
  }
  .date-month {
    font-size: 9px;
  }
}
/*****Medium*****/
@media screen and (min-width: 768px) {
  .featured-post-headline {
    font-size: 18px;
  }
  .post-headline {
    font-size: 16px;
  }
  .featured-post-tag {
    font-size: 9px;
  }
  .featured-post-text {
    font-size: 16px;
  }
  .post-text {
    font-size: 14px;
  }
  .date-number {
    font-size: 20px;
  }
  .date-month {
    font-size: 9px;
  }
}
/*****Large*****/
@media screen and (min-width: 992px) {
  .featured-post-headline {
    font-size: 24px;
  }
  .post-headline {
    font-size: 20px;
  }
  .featured-post-tag {
    font-size: 11px;
  }
  .featured-post-text {
    font-size: 18px;
  }
  .post-text {
    font-size: 16px;
  }
  .date-number {
    font-size: 24px;
  }
  .date-month {
    font-size: 11px;
  }
}
/*****Extra large*****/
@media screen and (min-width: 1200px) {
  .featured-post-headline {
    font-size: 32px;
  }
  .post-headline {
    font-size: 28px;
  }
  .featured-post-tag {
    font-size: 14px;
  }
  .post-tag {
    font-size: 12px;
  }
  .featured-post-text {
    font-size: 18px;
  }
  .post-text {
    font-size: 16px;
  }
  .date-number {
    font-size: 24px;
  }
  .date-month {
    font-size: 11px;
  }
}













